@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global colors */
:root {
  --white: white;
  --black: black;
}

/* Buttons style */
.btnSearch {
  background-color: var(--black);
  color: var(--white);
  font-weight: 500;
  text-align: center;
  padding: 7px 30px;
  border: solid 1px var(--white);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btnSearch:hover {
  background-color: var(--white);
  color: var(--black);
  border: solid 1px var(--white);
  border-left: solid 1px var(--black);
  transition: 0.3s;
}

.btnHome {
  background-color: var(--black);
  color: var(--white);
  font-weight: 500;
  text-align: center;
  padding: 10px 40px;
  border: solid 1px var(--white);
  border-radius: 5px;
}

.btnHome:hover {
  background-color: var(--white);
  color: var(--black);
  border: solid 1px var(--black);
  transition: 0.3s;
}

/* Input style */
.input {
  padding: 7px 62px 7px 7px;
  outline: none;
  border: solid 1px var(--white);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: transparent;
}
.input1 {
  padding: 7px 62px 7px 7px;
  border: solid 1px var(--black);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.text-16xl {
  font-size: 16rem;
}

.text-20{
  font-size: 20px;
}

.arrow {
  width: 10px;
  height: 10px;
  border: solid 1px black;
  border-left: transparent;
  border-bottom: transparent;
  transform: rotate(135deg);
}